body {
  height: 100%;
}

#root {
  height: 100%;
}
.app {
  height: 100%;
}

.landing {
  background-image: url('/images/landing.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.landing img.title {
  width: 60%;
  margin-top: 70%;
}

.landing .footer { /* Increased specificity for SO snippet priority */
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: black;
  color: white;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
}

.landing .footer a {
  color: white;
}

.home {
  font-size: 24px;
  text-align: center;
}
.header {
  display: flex;
  margin-bottom: 20px;
  text-align: center;
}
.header .left,.right {
  margin: 8px;
}
.header .center {
  flex: 1 1 auto;
}
.header .center img {
  width: 50%;
}

.box {
  position: relative;
  margin-bottom: 20px;
  background: black;
}
.box img {
  width: 100%;
  height: 200px;
  opacity: 0.5;
}
.box .title {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px #000000;
}

.box-page .box-title {
  padding-left: 10px;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 20px;
  text-decoration: underline;
}

.box-page .items {
  margin: 10px;
}
.box-page .items hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-color: #fff;
}

.box-page .items .item {
  display: flex;
  flex-direction: row;
}
.box-page .items .item .img {
  border: solid 1px #555;
}
.box-page .items .item .img img {
  flex: 0 0 auto;
  width: 90px;
  height: 90px;
}
.box-page .items .item .details {
  padding-left: 20px;
}
.box-page .items .item .qty {
  padding-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  font-size: 18px;
}
.box-page .items .item .details .title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.box-page .confirm { /* Increased specificity for SO snippet priority */
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: black;
  color: white;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
}
.box-page .confirm a { /* Increased specificity for SO snippet priority */
  color: white;
}
.checkout-page {
  text-align: center;
} 
.checkout-page .title {
  text-align: center;
  font-size: 26px;
  color: #555;
}
.checkout-page .title p {
  line-height: 10px;
}
.checkout-page img.delivery {
  margin-top: 40px;
  width: 80%;
}
.checkout-page .details { 
  text-align: center;
}
.checkout-page .details .number { 
  text-decoration: underline;
  font-size: 20px;
}
.checkout-page .back { /* Increased specificity for SO snippet priority */
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: black;
  color: white;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
}
.checkout-page .back a {
  color: white;
}
